<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">>>
<head>
   <title>Error Page</title>
</head>

<body>
   <h2>My Thymeleaf Error Page</h2>

   <table class="table table-striped">
      <thead>
      <tr>
         <th>timestamp</th>
         <th>path</th>
         <th>error</th>
         <th>status</th>
         <th>message</th>
         <th>exception</th>
         <th>trace</th>
      </tr>
      </thead>
      <tbody>
      <tr>
         <td th:text="${timestamp}">timestamp</td>
         <td th:text="${path}">path</td>
         <td th:text="${error}">error</td>
         <td th:text="${status}">status</td>
         <td th:text="${message}">message</td>
         <td th:text="${exception}">exception</td>
         <td th:text="${trace}">trace</td>
      </tr>
      </tbody>

   </table>

</body>
</html>