<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">>
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h2 th:text="'List of Vets...'">Veterinarians</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet:${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">Michele</td>
            <td th:text="${vet.lastName}">Nuovo</td>
        </tr>
        </tbody>
    </table>
</body>
</html>